section{
    margin: 0 auto;
    width: 25%;
    padding: 20px ;
    border: 4px solid rgb(0, 0, 0);
    margin: auto;
    border-radius: 15px;
    background-color: antiquewhite;
}
.picture{
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
h1 {
    margin: 15px;
    font-size: 2em;
}
tr {
    font-size: 1.3em ;
}
footer {
    text-align: center;
}